.card-map {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-border);
}
.card-map:last-child {
    border-bottom: none;
}
.card-map__name {
    font-weight: 700;
}
.card-map__description {
    font-size: 14px;
    color: #666;
}
.card-map__phones {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 4px;
}
.card-map__label {
    font-size: 14px;
}
.card-map__values {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.card-map__emails {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 4px;
}