.map {
    position: relative;
}
.map__popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: #fff;
}
.map__popup:has(.popup.is-opened) {
    z-index: 1;
}
.map .popup {
    position: static;
    height: 100%;
}
.map .popup__inner {
    padding: 0;
}
.map .popup__content {
    width: 100%;
    height: 100%;
}
.map .popup.is-screen-fit .popup__inner {
    align-items: flex-start;
}
